.container {
    max-width: 800px;
}

.markedItem {
    text-decoration: line-through;
}

.error {
    background-color: red;
}

button {
    margin-left: 10px;
}

form {
    height: 40px;
}

.markButton {
    width: 65px;
}